// COLORS
$color-yellow: #FFAA00;

$color-blue: #00C3E6;

$color-green-dark: #094009;
$color-green-light: #4CBB17;
$color-green-lighten: #A1CA9C;

$color-grey-light: #E6E6E6;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// FONT
$default-font-size: 1.6rem;